In [21]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [39]:
df = pd.read_csv('wine_data.csv')

df['log_price'] = np.log(df['price'])
wine_prices = df['log_price']
scaled_wine_prices = (wine_prices-np.mean(wine_prices))/np.std(wine_prices)
df['scaled_log'] = scaled_wine_prices
df.drop(['price', 'cty_france', 'cty_italy', 'cty_us', 'log_price'], axis=1, inplace=True)

df.drop(['prov_alsace', 'taster_undisclosed', 'vintage_2000', 'grape_cabernet_sauvignon'], axis=1, inplace=True)

print(df.shape)
df.head(10)

(60657, 70)

,points,prov_beaujolais,prov_bordeaux,prov_burgundy,prov_california,prov_central_italy,prov_champagne,prov_colorado,prov_france_other,prov_idaho,...,vintage_2008,vintage_2009,vintage_2010,vintage_2011,vintage_2012,vintage_2013,vintage_2014,vintage_2015,vintage_2016,scaled_log
0,100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.515902
1,100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.251530
2,100,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2.499003
3,100,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.217157
4,100,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6.100088
5,100,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,4.530992
6,100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.418261
7,100,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,5.208115
8,100,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.948918
9,100,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,3.863825

In [40]:
df.columns

Index(['points', 'prov_beaujolais', 'prov_bordeaux', 'prov_burgundy',
       'prov_california', 'prov_central_italy', 'prov_champagne',
       'prov_colorado', 'prov_france_other', 'prov_idaho',
       'prov_languedoc-roussillon', 'prov_loire_valley', 'prov_lombardy',
       'prov_michigan', 'prov_new_york', 'prov_northeastern_italy',
       'prov_oregon', 'prov_piedmont', 'prov_provence', 'prov_rhône_valley',
       'prov_sicily_and_sardinia', 'prov_southern_italy',
       'prov_southwest_france', 'prov_texas', 'prov_tuscany', 'prov_veneto',
       'prov_virginia', 'prov_washington', 'taster_alexander_peartree',
       'taster_anna_lee_c._iijima', 'taster_anne_krebiehl mw',
       'taster_carrie_dykes', 'taster_jim_gordon', 'taster_joe_czerwinski',
       'taster_kerin_o’keefe', 'taster_lauren_buzzeo', 'taster_matt_kettmann',
       'taster_paul_gregutt', 'taster_roger_voss', 'taster_sean_p._sullivan',
       'taster_susan_kostrzewa', 'taster_virginie_boone', 'grape_chardonnay',
       'grape_malbec', 'grape_merlot', 'grape_pinot_grigio',
       'grape_pinot_noir', 'grape_red_blend', 'grape_riesling', 'grape_rosé',
       'grape_sauvignon_blanc', 'grape_white_blend', 'grape_zinfandel',
       'vintage_2001', 'vintage_2002', 'vintage_2003', 'vintage_2004',
       'vintage_2005', 'vintage_2006', 'vintage_2007', 'vintage_2008',
       'vintage_2009', 'vintage_2010', 'vintage_2011', 'vintage_2012',
       'vintage_2013', 'vintage_2014', 'vintage_2015', 'vintage_2016',
       'scaled_log'],
      dtype='object')

In [32]:
y = df.points
X = df.drop(['points'], axis=1)

In [33]:
reg = linear_model.LinearRegression()

In [34]:
reg.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
reg.coef_.shape

(71,)

In [37]:
reg.intercept_

87.31549874234392